*/*/.exe
*/*/.o
*/*/.mov
/2-OBJETOS/Repaso/repaso1/nbproject/private/
/2-OBJETOS/Repaso/repaso1/build/
/2-OBJETOS/Repaso/parcialhoy/nbproject/private/
/2-OBJETOS/Repaso/parcialhoy/build/
/2-OBJETOS/Repaso/parcialEstantes/nbproject/private/
/2-OBJETOS/Repaso/parcialEstantes/build/
/FINAL/repaso objetos/parcial/parcial/nbproject/private/
/FINAL/repaso objetos/parcial/parcial/build/
/FINAL/repaso objetos/parcial/ej01/nbproject/private/
/2-OBJETOS/repasoFinalMarzo/ej01/nbproject/private/
/2-OBJETOS/repasoFinalMarzo/ej01/build/
